@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-LightItalic.ttf');
  src: local('Roboto-LightItalic'), local('RobotoLightItalic'),
  url('../fonts/Roboto-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.ttf');
  src: local('Roboto-Light'), local('RobotoLight'),
  url('../fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Black.ttf');
  src: local('Roboto-Black'), local('RobotoBlack'),
  url('../fonts/Roboto-Black.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BlackItalic.ttf');
  src: local('Roboto-BlackItalic.ttf'), local('RobotoBlackItalic'),
  url('../fonts/Roboto-BlackItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf');
  src: local('Roboto-Bold'), local('Roboto-Bold'),
  url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BoldItalic.ttf');
  src: local('Roboto-BoldItalic'), local('RobotoBoldItalic'),
  url('../fonts/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Amatic';
  src: url('../fonts/AmaticSC-Bold.ttf');
  src: local('AmaticSC-Bold'), local('AmaticSCBold'),
  url('../fonts/AmaticSC-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

html, body{
  font-family: 'Roboto', sans-serif;
  color: $black;
  line-height: 1.6;
  font-weight: 300;
  font-size: 1rem;
}

h2, h3{
  margin-bottom: 2rem;
  @include fluidFontSize(2rem, 3.6rem, 600px, 1280px);
  font-weight: 300;
}
p{
    margin-bottom: 1rem;
}
b{
  font-weight: 400;
}
a{
  color: $lnk-color;
  &:hover{
    text-decoration: none;
  }
}
small{
  font-weight: 400;
  font-size: .8rem;
  line-height: 1.5;
}
ul li{
  position: relative;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
  &::before{
    content: ' — ';
    position: absolute;
    left: 0;
    top: 0;
  }
}


.animated-lnk{
  position: relative;
  color: white;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  &::before,
  &::after{
    content: "";
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 1px;
    transition: all .3s ease-in-out;
    opacity: 0;
    background-color: white;
  }
  &::before {
    left: calc(50% - 1px);
  }
  &::after {
    right: calc(50% - 1px);
  }
  &:hover,
  &.active{
    text-decoration: none;
    &::before,
    &::after {
      width: 50%;
      opacity: 1;
    }
  }
}
