$danger-color: #d56461;
$warning-color: #f7c367;
$info-color: #3e9adb;

$success-color: #52ac62;

$decline-color: #c4c4c4;

$closed-color: #f6f6f6;

$black: #1f1e1e;

$lnk-color: #007dff;

$max-width: 1280px;
