//common
@import "reset";
@import "variables";
@import "mixins";
@import "fonts";

//side plugins
@import "owl.carousel.min";

//pages
@import "components/nav-menu";
@import "hamburgers";
@import "components/hero";
@import "components/desctiption";
@import "components/offers";
@import "components/partners";
@import "components/contacts";

*{
  box-sizing: border-box;
}
html, body{
  width: 100%;
  height: 100%;
}
//html {
//  scroll-behavior: smooth;
//}
.hide-mobile{
  display: none;
  @include for-tablet-landscape-up{
    display: inherit;
  }
}
button{
  &:hover,
  &:active,
  &:focus{
    outline: none;
  }
}