<section class="contacts">
    <div class="contacts__text">
        <div class="scroll-animate">
            <h2>Локация</h2>
            <p>В Соколиное можно добраться из Бахчисарая, Севастополя и Симферополя, а также Ялты.</p>
    
            <p>Если ехать автомобилем, из Симферополя, необходимо доехать до Бахчисарая по Севастопольской трассе
                (расстояние 30 км). Проехав по объездной город Бахчисарай, после села Железнодорожное нужно свернуть по
                указателю на Ялту (ориентир большая развилка и памятник советским воинам) и ехать прямо 23 км. до села
                Соколиное.</p>
       
            <p>Из Севастополя лучше ехать через Терновку до села Танковое, а затем повернуть в сторону Ай-Петри.</p>
            
            <p>Так же можно у нас заказать трансфер.</p>
            
            
        </div>
    </div>
    <div class="contacts__map">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A0cca095e92feecbe1e7e73e92cded700bd7b58ff32c42dfe17e2b7f006cb45e6&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
</section>