<section class="desctiption">
    <div class="desctiption__text">
        <div class="scroll-animate">
            <h2>Что такое SPOT?</h2>
            <p>
                Наша команда называет наш <b>SPOT</b>* не чем иным, как деревенский лофт, а в каждой шутке есть доля правды.
            </p>
            <p>
                Давно хотелось уйти от стереотипов отдыха на ЮБК или стандартных турбаз, ретрит-центров, пансионатов и
                т.п.,
                где человеку навязываются не нужные ему услуги.
            </p>
            <p>
                Ведь все что тебе нужно, это приехать на легке, увидеть что-то новое,
                покорить, пару близлежащих вершин с абалденными видами.
            </p>
            <p>
                Ну а после интенсивного дня, отдохнуть в неформальной и дружелюбной обстановке у костерка, не забывая
                про блага цивилизации.
            </p>
            <p>
                <small>
                    <i>
                        *spot &ndash; [spɔt]{cущ} место, местность; небольшой участок местности (Пр: an ideal spot for a picnic — идеальное место для пикника)
                    </i>
                </small>
            </p>
        </div>
    </div>
    <div class="hide-mobile">
    </div>
</section>