<header class="nav-menu">
    <button class="hamburger hamburger--elastic"
            type="button"
            aria-label="Menu" aria-controls="navigation">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
    </button>
    <nav>
        <div>
            <a href="#mission" class="animated-lnk">Миссия</a>
        </div>
        <div>
            <a href="#offers" class="animated-lnk">Предложения</a>
        </div>
        <div>
            <a href="#partners" class="animated-lnk">Наши партнеры</a>
        </div>
        <div>
            <a href="#location" class="animated-lnk">Локация</a>
        </div>
    </nav>
</header>