<section class="offers">
    <div class="offers__text">
        <div class="scroll-animate">
            <h3>Что мы можем предложить?</h3>
            <ul>
                <li>Локация в центре с.Соколиное</li>
                <li>Место для утренней йоги, или просто размяться под шикарным навесом</li>
                <li>Летняя кухня (кафе с разнообразым меню в шаговой доступности)</li>
                <li>Аренда современных палаток и спальников</li>
                <li>Блага цивилизации (душ, туалет, wi-fi, электричество)</li>
                <li>Вечерниие киносеансы (по-желанию)</li>
                <li>И многое другое... А еще у нас есть партнерская программа</li>
            </ul>
        </div>
    </div>
</section>