<section class="partners">
    <div class="partners__text">
        <div class="scroll-animate">
            <h3>Наши партнеры</h3>
            <p>Вам не обязательно быть постояльцем, чтобы поучаствовать в нашей партнерке, просто вы можете запланировать
                мероприятие через нашего администратора</p>
            <p>Мы подберем вам маршрут и гида, в зависимости от вашей группы и пожеланий</p>
            <ul class="carousel-hash" id="carousel-hash">
                <li>
                    Оффроад-такси
                </li>
                <li>
                    Полеты на параплане
                </li>
                <li>
                    Гид-проводник
                </li>
                <li>
                    Виа Феррата
                </li>
            </ul>
        </div>
    </div>
    <div>
        <div class="owl-carousel">
            <div>
                <div class="partners__carousel-item offroad-taxi">
                    <div class="partners__carousel-item--text">
                        <h3>Оффроад-такси</h3>
                        <p>Добраться с комфортом до старта маршрута, сэкономив сили или просто устроить фото-сафари?</p>
                        <p>К вашим услугам опытные водители, которые буквально выросли в горах, которым знакома каждая
                            дорога и тропа в
                            долинах и на плато.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="partners__carousel-item paraplan">
                    <div class="partners__carousel-item--text">
                        <h3>Полеты на параплане</h3>
                        <p>Осмотреть окресности с высоты птичьего полета?</p>
                        <p>Опытные парапланеристы могут устроить экскурсию в облака.</p>
                        <p>Есть различные локации для полетов и варианты снаряжения, будь то полет над морем на
                            беззвучном параплане или рассекая потоки воздуха на агрегате оборудованном мотором.</p>
                        <p>У каждого вида есть свои прелести и они незабываемы</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="partners__carousel-item tour-guide">
                    <div class="partners__carousel-item--text">
                        <h3>Гид-проводник</h3>
                        <p>Многодневные и туры выходного дня с индивидуальным проводником.</p>
                        <p>Поверьте, лучше пройтись с проводником, один раз, чем блуждать по тропам в поисках родника
                            или видовой площадки.</p>
                        <p>Опытный гид-проводник к вашим услугам, так же возможен тур на несколько дней.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="partners__carousel-item via-ferrata">
                    <div class="partners__carousel-item--text">
                        <h3>Виа Феррата</h3>
                        <p>
                            Виа феррата — термин, принятый в области альпинизма. Обозначает скальный участок, специально
                            оборудованный металлическими конструкциями, помогающими преодолевать его с большей скоростью и
                            меньшими затратами энергии, чем при скалолазании в его обычном понимании.
                        </p>
                        <p>Попробуйте новый вид спорта, и приобщитесь к безопасному скалолазанию.</p>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</section>