<?xml version="1.0" encoding="utf-8"?>
<svg viewBox="0 0 841.9 595.3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <style>:root > svg {
        display: none
    }
    
    :root > svg:target {
        display: block
    }</style>
    <svg viewBox="0 0 841.9 595.3" id="spot-logo" xmlns="http://www.w3.org/2000/svg">
        <switch>
            <g fill="currentColor">
                <path
                    d="M19 205.6c.8-3.9 1.6-7.9 2.5-11.8 6.6-31.2 28.7-50.3 60.7-51.6 9.2-.4 18.6-.1 27.6 1.7 27.9 5.5 45.5 26.6 48.6 57.4.9 9.3 1 18.8 1.5 28.7H114c0-7.3.4-14.5-.1-21.6-1-16.3-9.9-24-26-23.1-10.6.6-17.6 6.3-20 16.8-4.6 19.9 1.6 37.2 15.1 51.6 11.2 12 24 22.5 35.2 34.5 10.7 11.5 22 23 29.9 36.4 16.9 28.7 17.7 59.8 6.1 90.5-9.5 25.1-30.3 36-56 37.8-9.6.7-19.5.2-28.9-1.7-27.4-5.3-44.5-25.2-48.7-55.1-.3-2.2-.9-4.4-1.4-6.5v-29.8h44.4c.6 11 .6 21.1 1.8 31.1 1.6 12.3 9.7 18.8 22.3 19.1 13.9.3 22.2-5.4 24.9-17.7 4.4-20.8-.6-39.6-14.9-55.1-11.4-12.4-24-23.7-36.1-35.5-15.8-15.3-30.4-31.5-37.3-53-2.1-6.6-3.4-13.4-5-20.1-.3-7.6-.3-15.3-.3-23zM190.9 147.2c28.4 0 56.4-1.5 84.2.4 30.9 2.2 50.9 21.6 54.3 52.4 2.4 22.3 3.1 45.2.8 67.4-3.9 37.7-26.3 56.5-64.6 58.3-8.9.4-17.9.1-27.3.1v123H191c-.1-100.6-.1-201.2-.1-301.6zm47.5 42.4v93c7.8 0 15.2.2 22.6 0 14.1-.4 21.7-6.8 22.3-20.9.8-17.1.8-34.2 0-51.3-.6-12.9-7.4-19.9-18.9-20.6-8.5-.7-17-.2-26-.2zM823 146.6v42.7h-55.7v259.6h-47.6v-259h-52.6l-25.4-43.3H823z"/>
                <path
                    d="M580.6 191.6l61 105.7-61 105.7h-122l-61-105.7 61-105.7h122m26-45h-174l-87 150.7 87 150.6h174l87-150.6-87-150.7z"/>
                <path
                    d="M556.3 245.6v11.6c-17.4 4.6-34.9 9.3-52.3 13.9v.3h52.2v10.2h-73.3v-14.2c14.2-3.8 28.5-7.6 42.7-11.3v-.3h-42.7v-10.2h73.4zM482.9 362.1v-11.4h30.7c0-.1.1-.2.1-.3-.4-.2-.9-.5-1.3-.7l-28.2-12.9c-1.1-.5-1.4-1-1.4-2.2.1-3.3 0-6.6 0-10.1.7.3 1.2.6 1.8.8 7.9 4 15.9 8.1 23.8 12.1.8.4 2 .5 2.9.3 14.5-4.3 28.9-8.6 43.3-12.9.5-.2 1-.3 1.7-.5v12c-10.6 3.2-21.3 6.4-32.3 9.7 3.2 1.7 6.2 3.2 9.1 4.6.5.2 1.1.1 1.6.1h21.5v11.4h-73.3zM503.2 369.7v10.9c-.4.1-.8.1-1.3.2-1.3 0-2.6 0-3.9.1-3.8.2-5.7 2.1-5.7 5.6 0 3.6 1.9 5.5 5.6 5.9 4.3.4 8-1.1 11.1-4 2.8-2.7 5.4-5.8 8.3-8.4 2.8-2.6 5.6-5.3 8.8-7.3 6.9-4.1 14.5-4.3 22-1.5 6.1 2.3 8.8 7.3 9.3 13.5.2 2.1.1 4.3-.3 6.4-1 6.1-4.5 10-10.4 11.8-3.8 1.2-7.7 1.1-11.8 1v-10.8h2.9c1.3 0 2.5 0 3.8-.2 3.5-.4 5.2-2.2 5.3-5.3.2-3.8-1.3-5.7-4.9-6.4-4.8-.9-9 .4-12.6 3.6-2.1 1.8-3.9 3.9-5.8 5.8-3 2.9-5.8 6-9 8.6-6.5 5.2-14.1 6-21.9 3.8-6.4-1.8-10.4-7.1-10.7-14.2-.1-1.6-.1-3.3.1-4.9 1.1-8.1 6.1-12.9 14.3-13.7 2.1-.4 4.4-.4 6.8-.5zM482.9 318.3v-11.4h63V288h10.4v30.3h-73.4z"/>
            </g>
        </switch>
    </svg>
</svg>