.contacts{
  color: white;
  & > div{
    flex-basis: 100%;
  }
  @include for-tablet-landscape-up{
    @include flexbox($direction: row);
    height: 100vh;
    min-height: 800px;
    & > div{
      flex-basis: 50%;
      overflow: hidden;
    }
  }
  &__map{
    height: 100vh;
    width: 100%;
    @include for-tablet-landscape-up{
      width: 50%;
    }
    & > * {
      touch-action: auto
    }
  }
  &__text{
    width: 100%;
    color: black;
    overflow: hidden;
    @include flexbox();
    &>div{
      margin: auto;
      padding: 2rem;
      max-width: $max-width / 1.5;
    }
    @include for-tablet-landscape-up{
      flex-basis: 50%;
    }
  }
}