.desctiption {
  @include heroLayout('../img/hero2.jpg', $row: true, $animation: true, $bgClr: #384d57);
  &__text {
    @include flexbox($alignItems: center, $justifyContent: center);
    background: rgba(white, .5);
    & > div {
      padding: 2rem;
      @include for-tablet-landscape-up {
        max-width: $max-width / 2;
        padding: 0 4rem;
      }
    }
    h2 {
      margin-top: 0;
    }
  }

  & > div {
    max-width: $max-width;
    flex: 1;
    height: 100%;
  }
}
