.hero{
  @include flexbox( $alignItems: center,$justifyContent: center );
  height: 100vh;
  position: relative;
  overflow: hidden;
  color: white;
  background: #121e2e;
  & > div{
    position: relative;
    z-index: 1;
    max-width: $max-width;
  }
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: url("../img/hero1.jpg") 50% 50%;
    background-size: cover;
    filter: blur(2px);
  }
  .logo{
    width: 100%;
    opacity: 0;
    @include for-tablet-landscape-up{
      width: 600px;
      height: 400px;
    }
  }
  canvas{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
}

.down-slide{
  position: absolute;
  z-index: 3;
  bottom: 60px;
  left: calc(50% - 16px);
  width: 34px;
  height: 34px;
  list-style: none;
  padding: 0;
  margin: 0;
  &::before{
    content: '';
    cursor: pointer;
    width: 34px;
    height: 34px;
    position: absolute;
    margin: auto;
    top: 10px;
    right: 0;
    left: 0;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
    animation: 2s arrow infinite;
  }
}