$hamburger-layer-color: #fff;
$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-border-radius: 2px;
$hamburger-layer-height: 2px;
$hamburger-layer-width: 30px;

.nav-menu{
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  nav{
    padding: 2rem;
    position: absolute;
    top: 0;
    margin-top: -100%;
    width: 100%;
    transition: .35s ease-in-out;
    background: rgba($black, .5);
    @include for-tablet-landscape-up{
      @include flexbox($direction: row, $justifyContent: space-around);
      position: inherit;
      margin: auto;
    }
    &.is-active{
      margin-top: 0;
    }
    & > div{
      margin-bottom: 1rem;
    }
    a{
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1rem;
      color: white;
    }
  }
  .hamburger{
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 0;
    padding: 10px 10px 6px;
    background: rgba($black, .5);
    @include for-tablet-landscape-up{
      display: none;
    }
  }
}