.offers{
  @include heroLayout('../img/hero3.jpg', $bgClr: #020201);
  background-size: cover;
  color: white;
  @include for-tablet-landscape-up{
    height: 100vh;
    min-height: 800px;
  }
  &__text{
    background: rgba(black, .65);
    width: 100%;
    @include flexbox();
    &>div{
      margin: auto;
      padding: 2rem;
      max-width: $max-width / 1.5;
    }
  }
}