.partners{
  margin: auto;
  max-width: $max-width;
  padding: 2rem 0;
  min-height: 100vh;
  @include for-tablet-landscape-up{
    @include flexbox($alignItems: center, $justifyContent: center);
    padding: 4rem 0;
    flex-direction: row;
    &>div{
      flex-basis: 50%;
      overflow-y: hidden;
      min-width: 0;
    }
  }
  &__text{
    padding: 2rem;
    ul{
      display: none;
    }
    @include for-tablet-landscape-up{
      padding: 4rem;
      ul{
        display: block;
        color: rgba($black, .5);
        li.active{
          color: $black;
        }
      }
    }
  }

  &__carousel-item{
    background-size: cover;
    background-position: 50% 50%;
    height: 800px;
    color: white;
    position: relative;
    &--text{
      padding: 2rem;
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;
      color: white;
      background: rgba(black, .68);
      h3{
        @include fluidFontSize(2rem, 3rem, 600px, 1280px);
      }
    }
    &.offroad-taxi{
      background-image: url("../img/partners/offroad-taxi.jpg");

    }
    &.paraplan{
      background-image: url("../img/partners/paraplan.jpg");
    }
    &.tour-guide{
      background-image: url("../img/partners/tour-guide.jpg");
    }
    &.via-ferrata{
      background-image: url("../img/partners/via-ferrata.jpg");
    }
  }
}
